<h2>Job Search</h2>

<%= form_tag search_index_path, :method => 'get', :id => "filter" do %>
  <p>
    <%= select_tag(:company, options_from_collection_for_select(@companies, "name", "name"), {multiple: true}) %>
    <%= select_tag(:location, options_for_select(@locations), {multiple: true}) %>
    <%= select_tag(:level, options_from_collection_for_select(@levels, "name", "name"), {multiple: true}) %>
    <%= select_tag(:category, options_from_collection_for_select(@categories, "name", "name"), {multiple: true}) %>
    <%= submit_tag "Apply Filters", class: "btn btn-primary" %>
  </p>
<% end %>

<div id="active-filters">
</div>

<div class="container">
  <div class="row row-centered">
    <% @search.jobs["results"].each do |job| %>
      <%= link_to job["refs"]["landing_page"] do %>
        <div class="col-xs-3 col-centered result">
          <h5><%= job["company"]["name"].upcase %></h5>
          <h3><%= job["name"].gsub(/\S+/, &:capitalize) %></h3>
          <% job["locations"].each do |loc| %>
            <%= loc["name"] %>
          <% end %>
          <br>
          <% job["levels"].each do |level| %>
            <%= level["name"] %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="pages">

</div>