<h2>Job Search</h2>

<%= form_tag search_index_path, :method => 'get', :id => "filter" do %>
  <p>
    <%= text_field_tag :company, params[:company], placeholder: "Company" %>
    <%= text_field_tag :location, params[:location], placeholder: "Location" %>
    <%= text_field_tag :level, params[:level], placeholder: "Level" %>
    <%= text_field_tag :category, params[:category], placeholder: "Category" %>
    <%= submit_tag "Apply Filters", class: "btn btn-primary" %>
  </p>
<% end %>

<div id="active-filters">
</div>

<div class="container">
  <div class="row row-centered">
    <% @search.jobs["results"].each do |job| %>
      <%= link_to job["refs"]["landing_page"] do %>
        <div class="col-xs-3 col-centered result">
          <h5><%= job["company"]["name"].upcase %></h5>
          <h3><%= job["name"].gsub(/\S+/, &:capitalize) %></h3>
          <% job["locations"].each do |loc| %>
            <%= loc["name"] %>
          <% end %>
          <br>
          <% job["levels"].each do |level| %>
            <%= level["name"] %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="pages">

</div>